body{
  background-color: #212121;
  color: #9E9E9E;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #424242;
  height: 100px;
  padding: 20px;
  color: rgb(66, 165, 245);
}

.App-title {
  font-size: 39px;
  margin-bottom: 0px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.post{
  padding: 20px;
  margin-top: 0px;
  background-color: #212121;
  border-bottom: 1px solid #616161;
  color: #BDBDBD;
}

.post-summary {
  color: #9E9E9E;
}

.post-summary a{
  color: #9E9E9E;
}

.login{
  float: right;
  border: 1px solid;
  borderRadius:2px;
  padding: 10px;
}

.login input {
  background: #616161;
  border: none;
  color: rgb(66, 165, 245);
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  padding-left: 5px;
}

.button-primary{
  background: rgb(66, 165, 245);
  border: none;
  color: #616161;
  font-weight: bold;
  margin-right: 5px;
}

.button-secondary{
  background: #616161;
  border: none;
  color: rgb(66, 165, 245);
}